<h1><%-siteName%></h1>
Hola <b><%-userName%></b>! se ha solicitado cambiar tu contraseña, a
continuación se encuentra el enlace de verificación.
<hr />
<a href="<%-passwordUrl%>">Cambiar contraseña</a>
<hr />
Tu código de verificacion es: <b><%-token%></b>.
